/* blue : #0b486b
grey : #8a9898 */

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
    display: flex;
    font-family: "robotoregular";
}

#presentation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 35%;
    background-color: #0b486b;
    color: #ffffff;
}

#profilImg {
    width: 50%;
}

#myImg {
    align-items: center;
    width: 70%;
    height: 200px;
    margin-left: 25px;
    padding-top: 20px;
    border-radius: 10px 100px / 120px;
    -webkit-border-radius: 10px 100px / 120px;
    -moz-border-radius: 10px 100px / 120px;
    -ms-border-radius: 10px 100px / 120px;
    -o-border-radius: 10px 100px / 120px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#myImg:hover {
    border-radius: 50% 20% / 10% 40%;
    -webkit-border-radius: 50% 20% / 10% 40%;
    -moz-border-radius: 50% 20% / 10% 40%;
    -ms-border-radius: 50% 20% / 10% 40%;
    -o-border-radius: 50% 20% / 10% 40%;
}

#title {
    width: 45%;
    text-align: right;
    margin: 10px;
}

#title h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}

#title h2 {
    margin-bottom: 20px;
    
}

#subt {
    border-bottom: 5px solid #ffffff;
    padding-bottom: 10px;
}

#profilPerso {
    text-align: center;
    width: 60%;
    margin-top: 25px;
    margin-bottom: 25px;
}

#profilPerso h3 {
    margin-bottom: 10px;
}

#coordonnees {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#coordonnees h3 {
    margin-bottom: 10px;
}

#competencePerso {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#competencePerso h3 {
    margin-bottom: 10px;
}

#competencePerso ul {
    list-style-type: none;
}

#exp {
    width: 65%;
}